absl-py==2.1.0
accelerate==0.20.3
adjustText==1.1.1
aiohttp==3.8.6
aiosignal==1.3.1
async-timeout==4.0.3
asynctest==0.13.0
attrs==24.2.0
backcall==0.2.0
beautifulsoup4==4.12.3
cachetools==5.4.0
certifi==2024.7.4
charset-normalizer==3.3.2
colorama==0.4.6
comm==0.1.4
cycler==0.11.0
Cython==0.29.28
datasets==2.13.2
debugpy==1.7.0
decorator==5.1.1
dill==0.3.6
dnspython==2.3.0
entrypoints==0.4
fastjsonschema==2.20.0
filelock==3.12.2
fire==0.6.0
fontmeta==1.6.1
fonttools==4.38.0
frozenlist==1.3.3
fsspec==2023.1.0
gensim @ git+https://github.com/valedica/gensim.git@775f91d94327dcc01526117d4ffea6095f3217d7
google-auth==2.32.0
google-auth-oauthlib==0.4.6
grpcio==1.62.3
huggingface-hub==0.16.4
idna==3.7
importlib-metadata==6.7.0
importlib-resources==5.12.0
ipykernel==6.16.2
ipython==7.34.0
ipywidgets==8.1.3
jedi==0.19.1
jieba==0.42.1
joblib==1.3.2
jsonschema==4.17.3
jupyter_client==7.4.9
jupyter_core==4.12.0
jupyterlab_widgets==3.0.11
kiwisolver==1.4.5
ltp==4.2.14
ltp-core==0.1.4
ltp-extension==0.1.13
lxml==5.3.0
Markdown==3.4.4
MarkupSafe==2.1.5
matplotlib==3.5.3
matplotlib-inline==0.1.6
multidict==6.0.5
multiprocess==0.70.14
nbformat==5.8.0
nest-asyncio==1.6.0
numpy==1.21.6
oauthlib==3.2.2
packaging==24.0
pandas==1.3.5
parso==0.8.4
pickleshare==0.7.5
Pillow==9.5.0
pkgutil_resolve_name==1.3.10
pkuseg==0.0.25
prompt_toolkit==3.0.47
protobuf==3.20.3
psutil==5.9.8
pyarrow==12.0.1
pyasn1==0.5.1
pyasn1-modules==0.3.0
Pygments==2.17.2
pymongo==4.7.3
pyparsing==3.1.2
pyrsistent==0.19.3
python-dateutil==2.9.0.post0
python-lzo==1.15
pytz==2024.1
pywin32==306
PyYAML==6.0.1
pyzmq==26.0.3
readmdict==0.1.1
regex==2024.4.16
requests==2.31.0
requests-oauthlib==2.0.0
rsa==4.9
safetensors==0.4.3
scikit-learn==1.0.2
scipy==1.7.3
six==1.16.0
smart-open==7.0.4
soupsieve==2.4.1
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.6.2.2
termcolor==2.3.0
threadpoolctl==3.1.0
thulac==0.2.2
tokenizers==0.13.3
torch==1.13.1
torch-tb-profiler==0.4.3
tornado==6.2
tqdm==4.66.4
traitlets==5.9.0
transformers==4.30.2
typing_extensions==4.7.1
urllib3==2.0.7
wcwidth==0.2.13
Werkzeug==2.2.3
widgetsnbextension==4.0.11
wrapt==1.16.0
xxhash==3.4.1
yarl==1.9.4
zipp==3.15.0
